C:\Users\woosi\source\libs\VST_SDK\my_plugins\Placebo Plugin\resource\Seal.png	 PNG "C:\Users\woosi\source\libs\VST_SDK\my_plugins\Placebo Plugin\resource\Seal.png"C:\Users\woosi\source\libs\VST_SDK\my_plugins\Placebo Plugin\resource\brass_tag_small.png	 PNG "C:\Users\woosi\source\libs\VST_SDK\my_plugins\Placebo Plugin\resource\brass_tag_small.png"C:\Users\woosi\source\libs\VST_SDK\my_plugins\Placebo Plugin\resource\Plecebo.png	 PNG "C:\Users\woosi\source\libs\VST_SDK\my_plugins\Placebo Plugin\resource\Plecebo.png"C:\Users\woosi\source\libs\VST_SDK\my_plugins\Placebo Plugin\resource\wood_boarder2.png	 PNG "C:\Users\woosi\source\libs\VST_SDK\my_plugins\Placebo Plugin\resource\wood_boarder2.png"